@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<h2>Welcome to the automated rota app</h2>
<div style"display: flex; flex-direction: column; gap: 20px;">
    <button class="btn btn-primary">Manage Staff</button>
    <button class="btn btn-primary">Day Requirements</button>
</div>
