@page "/"

<PageTitle>Home</PageTitle>

<h1>RotaHub</h1>
<h2>Welcome to the automated rota app</h2>
<p>
    Automate your staff scheduling with a smarter, faster rota system. Manage your team, set availability, and generate optimised rotas in seconds. Built to reduce conflicts and give you full control, our platform lets you quickly adjust schedules, handle last-minute changes, and keep everyone aligned—all from one central hub.
</p>
<div style="display: flex; flex-direction: column; gap: 20px;">
    <button class="btn btn-primary">Manage Staff</button>
    <button class="btn btn-primary">Day Requirements</button>
</div>
