@page "/counter"
@rendermode InteractiveServer

<PageTitle>Staff Manager</PageTitle>

<h1>Staffing</h1>

<p>This is where you can see all staff currently employed 
    and whether they are currently active and available to be added to the rota.</p>

<button class="btn btn-primary">Add Staff</button>

<h2>Current Staff</h2>

