@page "/StaffManager" //This is a reference to the href name in the NavMenu.razor file
@rendermode InteractiveServer
@* @inject Blazored.LocalStorage.ILocalStorageService localStorage *@
@inject IJSRuntime JS



<PageTitle>Staff Manager</PageTitle>

<h1>Staffing</h1>

<p>This is where you can see all staff currently employed 
    and whether they are currently active and available to be added to the rota.</p>

<button class="btn btn-primary" @onclick="ShowInput">Add Staff</button>

@if (showInput)
{
    <div class="input-container">
        <input @bind="newStaffName" placeholder="Enter Staff Name" />
        <button class="btn btn-primary" @onclick="SaveStaff">Save</button>
    </div>
}

<h2>Current Staff</h2>

<ul>
    @foreach (var staff in staffList)
    {
        <li>@staff</li>
    }
</ul>




@code 
{
    private bool showInput = false;

    private bool hasLoaded = false;
    private string newStaffName = "";
    private List<string> staffList = new();
    
    void ShowInput()
    {
        showInput = true;
        @* StateHasChanged(); *@
    }

    @* Next method saves staff data to local storage *@

    async Task SaveStaff()
    {
        if (!string.IsNullOrWhiteSpace(newStaffName))
        {
            staffList.Add(newStaffName);
            await JS.InvokeVoidAsync("saveData", "stafflist", staffList);
            newStaffName = "";
            showInput = false;
        }
    }

    @* Following method loads that data onto the page *@

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try{
            var data = await JS.InvokeAsync<List<string>>("getData", "stafflist");
            if (data != null)
            {
                staffList = data;
                StateHasChanged();
            }
            
            if (!hasLoaded)
            {
                hasLoaded = true;
                StateHasChanged();
            }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"JS error: {ex.Message}");
            }
          
        }
        
    }
}

