@page "/weeklyPrefs"
@rendermode InteractiveServer

<PageTitle>Weekly Preferences</PageTitle>
<h1>Weekly Preferences</h1>
<p>Here you can set the weekly preferences for your staff. This will be used by the rota generator to create a rota that best suits your needs for the week.</p>
